<!DOCTYPE html>
<html>
<head>
  <title><?=Config::get('site_name')?></title>
  <meta charset="utf-8">
    <script src=""></script>
    <link rel="stylesheet" href="http://localhost/renovaSpa/webroot/css/style.css" type ="text/css">
    <base href="http://localhost/renovaSpa/">
    <link rel="stylesheet" href="webroot/css/bootstrap.css">
    <link rel="stylesheet" href="webroot/css/bootstrap-theme.css">
    <link rel="stylesheet" href="webroot/css/style.css">
    <script src="webroot/js/bootstrap.js"></script>
    <script src="webroot/js/admin.js"></script>

</head>




        <?=$data['content']?>



<footer>Esta pagina Default</footer>
</html>