<!DOCTYPE html>
<html>
<head>
  <title><?=Config::get('site_name')?></title>
  <meta charset="utf-8">

    <link rel="stylesheet" href="http://localhost/renovaSpa/webroot/css/style.css" type ="text/css">
    <base href="http://localhost/renovaSpa/">
    <link rel="stylesheet" href="webroot/css/style.css">
    <link rel="stylesheet" href="webroot/css/bootstrap.css">
    <link rel="stylesheet" href="webroot/css/bootstrap-theme.css">
    <script src="webroot/js/bootstrap.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="/renovaSpa/"><?=Config::get('site_name')?></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a <?php if(App::getRouter()->getController() == 'pages') {?> class="active" <?php } ?> href="/renovaSpa/pages/">Pages</a></li>
                <li><a <?php if(App::getRouter()->getController() == 'contacts') {?> class="active" <?php } ?> href="/renovaSpa/contacts/">Contacts</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <h1>Bienvenido</h1>
    <h2>Escoge una opción</h2>

    <div class="starter-template">


        <?php if(Session::hasFlash()){?>
        <div class="alert alert-info" role="alert">
            <?php Session::flash(); ?>
        </div>
        <?php } ?>
        <?=$data['content']?>
    </div>

</div><!-- /.container -->

</body>
</html>