<h4>Circunstancias Medicas</h4>
<table class="table" border="width: auto">
    <tr class="success">
        <th>Id</th>
        <th>Nombre</th>
        <th colspan="2">Opci&oacuten</th>
    </tr>
    <?php foreach ($data['circustancias_medicas'] as $circunstancias_data){ ?>

    <tr class="active">

        <td><b><?=$circunstancias_data['id']?></b></td>
        <td><b><?=$circunstancias_data['nombre']?></b></td>
        <td align="right">
            <a href="/renovaSpa/admin/circunstancias/Editar/<?=$circunstancias_data['id']?>"><button class="btn btn-sm btn-primary">Editar</button></a>
        </td>
        <td align="right">
            <a href="/renovaSpa/admin/circunstancias/borrarRegistro/<?=$circunstancias_data['id']?>" onclick=" return confirmDelete();"><button class="btn btn-sm btn-warning">Borrar</button></a>
        </td>
    </tr>
    <?php }?>
</table>
<br>

<div>
    <a href="/renovaSpa/admin/circunstancias/agregar"><button class="btn btn-sm btn-success">Nueva Circunstancia</button></a>
</div>