<h4>Hoteles</h4>
<table class="table" border="width: auto">
    <tr class="success">
        <th>Id</th>
        <th>Nombre</th>
        <th>Ubicaci&oacuten</th>
        <th colspan="2">Opci&oacuten</th>
    </tr>
    <?php foreach ($data['hoteles'] as $hotel_data){ ?>

    <tr class="active">

        <td><b><?php echo $hotel_data['id']?></b></td>
        <td><b><?=$hotel_data['nombre']?></b></td>
        <td><b><?=$hotel_data['ubicacion']?></b></td>
        <td align="right">
            <a href="/renovaSpa/admin/pages/Editar/<?=$hotel_data['id']?>"><button class="btn btn-sm btn-primary">Editar</button></a>
        </td>
        <td align="right">
            <a href="/renovaSpa/admin/pages/borrarRegistro/<?=$hotel_data['id']?>" onclick=" return confirmDelete();"><button class="btn btn-sm btn-warning">Borrar</button></a>
        </td>
    </tr>
    <?php }?>
</table>
<br>

<div>
    <a href="/renovaSpa/admin/pages/Agregar"><button class="btn btn-sm btn-success">Nuevo Hotel</button></a>
</div>