<h4>Tratamientos</h4>
<table class="table" border="width: auto">
    <tr class="success">
        <th>Id</th>
        <th>Nombre</th>
        <th colspan="2">Opci&oacuten</th>
    </tr>
    <?php foreach ($data['tratamientos'] as $itratamientos_data){ ?>

    <tr class="active">

        <td><b><?=$itratamientos_data['id']?></b></td>
        <td><b><?=$itratamientos_data['nombre']?></b></td>
        <td align="right">
            <a href="/renovaSpa/admin/tratamientos/Editar/<?=$itratamientos_data['id']?>"><button class="btn btn-sm btn-primary">Editar</button></a>
        </td>
        <td align="right">
            <a href="/renovaSpa/admin/tratamientos/borrarRegistro/<?=$itratamientos_data['id']?>" onclick=" return confirmDelete();"><button class="btn btn-sm btn-warning">Borrar</button></a>
        </td>
    </tr>
    <?php }?>
</table>
<br>

<div>
    <a href="/renovaSpa/admin/tratamientos/agregar"><button class="btn btn-sm btn-success">Nuevo Tratamiento</button></a>
</div>