<a href="/renovaSpa/admin/clientes/">Regresar</a>
<h3>Nuevo Cliente</h3><br>
<form method="post" action="">
    <div class="form-group">
        <label for="pais_id">Pais</label>
        <input type="text" id="pais_id" name="pais_id" value="" class="form-control"/>

        <label for="idioma_id">Idioma</label>
        <input type="text" id="idioma_id" name="idioma_id" value="" class="form-control"/>

        <label for="hotel_id">Hotel</label>
        <input type="text" id="hotel_id" name="hotel_id" value="" class="form-control"/>

        <label for="agencia_id">Agencia</label>
        <input type="text" id="agencia_id" name="agencia_id" value="" class="form-control"/>

        <label for="circustancias_medica_id">Circunstancia Medica</label>
        <input type="text" id="circustancias_medica_id" name="circustancias_medica_id" value="" class="form-control"/>

        <label for="fecha_alta">Fecha Alta</label>
        <input type="date" id="fecha_alta" name="fecha_alta" value="" class="form-control"/>

        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" value="" class="form-control"/>

        <label for="apellidos">Apellidos</label>
        <input type="text" id="apellidos" name="apellidos" value="" class="form-control"/>

        <label for="edad">Edad</label>
        <input type="text" id="edad" name="edad" value="" class="form-control"/>

        <label for="correo_electronico">Correo Electronico</label>
        <input type="text" id="correo_electronico" name="correo_electronico" value="" class="form-control"/>

        <label for="habitacion">Habitacion</label>
        <input type="text" id="habitacion" name="habitacion" value="" class="form-control"/>

    </div>
    <input type="submit" class="btn btn-success" value="Guardar">
</form>