<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="/renovaSpa/admin/clientes/agregar" class="close"  aria-hidden="true">close</a>
                <h4 class="modal-title" id="myModalLabel">Nuevo Registro</h4>

                <p>Seleccione la opci&oacuten deseada</p>
            </div>

            <div class="modal-body">

                <iframe src="/renovaSpa/admin/paises/agregar" id="info" class="iframe" name="info" scrolling="yes"></iframe>
            </div>

        </div>
    </div>
</div> <!-- /#myModal -->
<b>Puedes agregar mas opciones da click ---------></b>

<button class="btn btn-primary btn-lg boton1" data-toggle="modal" data-target="#myModal">
    +</button>


<br>
<a href="/renovaSpa/admin/clientes/">Regresar</a>
<h3>Nuevo Cliente</h3><br>
<form method="post" action="">
    <div class="form-group">
        <label for="pais_id">Pais</label>
        <br>
        <select name="pais_id" id="pais_id">
            <?php foreach ($data['paises'] as $paises_data){
                ?>
            <option value="<?=$paises_data['id']?>"><?=$paises_data['nombre']?></option>
            <?php } ?>
        </select>
        <br>

        <label for="idioma_id">Idioma</label>
        <br>
        <select name="idioma_id" id="idioma_id">
            <?php foreach ($data['idiomas'] as $idiomas_data){
            ?>
            <option value="<?=$idiomas_data['id']?>"><?=$idiomas_data['nombre']?></option>
            <?php } ?>
        </select>
        <br>


        <label for="hotel_id">Hotel</label>
        <br>
        <select name="hotel_id" id="hotel_id">
            <?php foreach ($data['hoteles'] as $hoteles_data){
            ?>
            <option value="<?=$hoteles_data['id']?>"><?=$hoteles_data['nombre']?></option>
            <?php } ?>
        </select>
        <br>

        <label for="agencia_id">Agencia</label>
        <br>
        <select name="agencia_id" id="agencia_id">
            <?php foreach ($data['agencias'] as $agencias_data){

            ?>
            <option value="<?=$agencias_data['id']?>"><?=$agencias_data['nombre_comercial']?></option>
            <?php } ?>
        </select>
        <br>


        <label for="circustancias_medica_id">Circunstancia Medica</label>
        <br>
        <select name="circustancias_medica_id" id="circustancias_medica_id">
            <?php foreach ($data['circustancias_medicas'] as $circu_data){
            ?>
            <option value="<?=$circu_data['id']?>"><?=$circu_data['nombre']?></option>
            <?php } ?>
        </select>
        <br>

        <label for="fecha_alta">Fecha Alta</label>
        <input type="date" id="fecha_alta" name="fecha_alta" value="" class="form-control"/>

        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" value="" class="form-control"/>

        <label for="apellidos">Apellidos</label>
        <input type="text" id="apellidos" name="apellidos" value="" class="form-control"/>

        <label for="edad">Edad</label>
        <input type="text" id="edad" name="edad" value="" class="form-control"/>

        <label for="correo_electronico">Correo Electronico</label>
        <input type="text" id="correo_electronico" name="correo_electronico" value="" class="form-control"/>

        <label for="habitacion">Habitacion</label>
        <input type="text" id="habitacion" name="habitacion" value="" class="form-control"/>

    </div>
    <input type="submit" class="btn btn-success" value="Guardar">
</form>